	<form data-ajax=true data-ajax-method="POST" data-ajax-update="#Tabla" data-ajax-loading="#load">
        <h4 data-bind="with: escuela"><span data-bind="text:nombre"></span>(<span data-bind="text:circuito"></span>) </h4>
        	
	<table data-bind='visible: categorias().length > 0'> 
            	<thead>
			<tr>
				<th>N&deg;</th>
				<th>Parido</th>
				<th>Lista</th>
				<!--ko foreach: categorias -->
                		<th data-bind="text: nombre">N&deg;</th>
				<!--/ko-->
            		</tr>
		</thead>
		<tbody data-bind="foreach: listas">
			<tr>
				<td data-bind="text: $root.partido($data).numero"></td>
				<td data-bind="text: $root.partido($data).nombre"></td>
				<td data-bind="text: nombre"></td>
				<!--ko foreach: $root.categorias -->
				<td data-bind="html: $root.input($parent,$data)"></td>
				<!--/ko -->
			</tr>
		</tbody>
	</table>
        <input type="submit" value="Guardar"/>
    </form>
<script>
    $('.carga').focus(function () {
        $(this).select();
    }).mouseup(function (e) {
        e.preventDefault();
    }).live("keypress", function (e) {
        /* ENTER PRESSED*/
        if (e.keyCode == 13) {
            /* FOCUS ELEMENT */
            var inputs = $(this).parents("form").eq(0).find(":input");
            var idx = inputs.index(this);

            if (idx == inputs.length - 1) {
                inputs[0].select();
            } else {
                inputs[idx + 1].focus(); //  handles submit buttons
                inputs[idx + 1].select();
            }
            return false;
        }
        return true;
    });
    ;
    

    var baseUri = "<%- sails.config.baseUri %>";
    var escuelaId =<%- mesa.escuelaId %>;
    var mesaId =<%- mesa.id %>
    var model = new ViewModel();
    var primero = true;
    ko.applyBindings(model);
    model.load();
    $('#primero').focus();  
</script>
